<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="" version="0.1">
  <name>Mynet</name>
  <icon src="simge64.png"/>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/c2c16b80-1d54-4121-b863-65d3f5cb2af7/"/>
  <license>Copyright 2011 zahek

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</license>
  <author href="http://my.opera.com/ZAHEK" email="zahhek@gmail.com">Z@H3K</author>
  <description>Türkiye'nin en popüler portalı Mynet'i takip edin.</description>
  </widget>
