<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://addons.opera.com/addons/extensions/details/mobil-haber/" version="1.1">
  <name>Mobil Haber</name>
  <icon src="icons/64.png"/>
  <author href="http://my.opera.com/ZAHEK" email="zahek@myopera.com">zahek</author>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/ae9cf21f-da5f-44b5-ab0a-acec04f57850/"/>
  <license>Copyright 2011 zahek

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</license>
  <description xml:lang="tr">Türkiye'nin en popüler haber siteleri ve gazeteleri (CNNTürk, Milliyet, Hürriyet, vb.) bir arada.</description>
</widget>
